NEXT_TELEMETRY_DISABLED=1
NEXT_PUBLIC_API_BASE_URL="https://api.paidgate.com/api/v1"
NEXT_PUBLIC_DEPLOYMENT_TYPE="qa"
NEXT_PUBLIC_WS_URL="wss://api.paidgate.com"
NEXT_PUBLIC_SUCCESS_URL="https://crypto-processing-user-panel-h2czeeg9eeguh7hh.eastus-01.azurewebsites.net/buy/success"
NEXT_PUBLIC_STRIPE_KEY="pk_test_51RDsO92MiqCvYVctKexKosNuRTNNGj7vKUJc3p71mCR56phlAmx8vIB0qPTh90UjDKxc1fvC9QY5sx1VOKqW6Xrx00MB2y7hS1"
